  .checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  .checkbox-wrapper-22{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color: #ff0a88;
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }
  .checkbox-label{
    font-weight: bold;
  
    padding:1rem;
    font-size: 1.5rem;


  }
  .Dashboard-Page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .widgets{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:row wrap;
  }
  input[type="datetime-local"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 300px;
    font-size: 16px;
}
.graph-container{
  width: 100vw;
  display: flex;
  justify-content: center;
}